@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Merriweather+Sans&family=Roboto&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
    height: 100vh;
}
/* Nav Bar */
.nav_wrapper{
    width: 100% !important;
    background-color: #ffff;
    position: sticky;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow:  0 3px 5px rgb(0 0 0 / 10%);
    z-index:100
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
  
}

h3 {
    font-family: 'Merriweather Sans', sans-serif;;
}

.remlad-icon{
    color: #F28482;
}

#myself ,
.skills{
text-align:justify
}

.nav-item{
    display: flex;
    justify-content: space-evenly;
   

}
.nav-item {
    padding-left: 0 !important;
    margin-bottom: 0;
}

.nav-item li{
    padding: 0 1rem;
    list-style: none;
    position: relative;  
}
.nav-item li a, .remlad-icon{
    text-decoration: none;
    font-size: 1.3rem;
}
.nav-item li a{
    color: #000000;
}
/* sticky for scrolling */
.sticky{
    background-color: #000000 !important;
    color: #ffff !important;
    z-index: 100;
}
.sticky .nav-item li a{
    color: #ffff;
}


  /* nav Item */
  .nav-item li a::after{
      content: "";
      width: 0;
      position: absolute;
      display: block;
      height: .2em;
      background-color: #F28482;
      bottom: -1rem;
    }
     li a:hover::after{
        width: 70%;
        transition: all.4s ease-in-out;
  }

/* Media Query for Nav bar */
@media only screen and (max-width: 600px) {
    .nav-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 0;
        width: 100%;
    }
    .nav-item{
        margin-top: 2rem;
    }
    .nav-item li a{
        
        font-size: 1rem;
    }
    .about_me{
        padding-top: 15rem;
        margin-top: 5rem;
    }
  }



  /* About Section */
.about_me{
   padding-top: 8rem;
    margin-bottom: 0;
    border-radius: 8px;
    display: flex;
    flex-grow: none;
    justify-content: center;
    align-items: flex-start;
}

.flex-shadow{
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
border-radius: 5px;

}

.about-left{
    background-color: #ffffff;
    border-radius: 5px;
    margin-right: 50px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: 30% 0;
    transform-origin: 30% 0;
    -webkit-animation: about 4.5s ease-in-out alternate infinite;
    animation: about 4.5s ease-in-out alternate infinite;

}
/* .about-sub-container{
} */

.about-right{
    padding-top: 4rem;
}

/* about me  left container animation */
@-webkit-keyframes about{
    0%{-webkit-transform: rotate(0deg);}
    50%{-webkit-transform: rotate(-2deg)}
    100%{-webkit-transform: rotate(2deg);}
}
 
@keyframes about{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(-2deg)}
    100%{transform: rotate(2deg);}
}
 

.pin img{
    width: 3rem;
    height: 3rem;
    background: transparent ;
    position: absolute;
    top:0 ;
    left: 50%;
    transform: translateX(-50%);
}
.image-container img{
border-radius: 8px;
}
.image-container{
    margin-top: 15px;
}
.about-me-text p{
    text-align: center;
    /* width: 100%; */
    font-size: 1.3rem;
    line-height: 2;
}
.about-me-text ul{
    text-align: left;
    
}
.about-me-text ul li{
    list-style: none;
    padding: 2px 0;
}

.about-me-text ul li a{
    text-decoration: none;
    color: #F28482;

}

/* skill sets */

.skill-item{
    padding: 3px 12px;
    background-color:#F28482 ;
    margin: 5px 7px;
    display: inline-block;
}

/* Project Container */

.project-container{
    padding-top: 10rem;
}

.project-done {

text-decoration-thickness: 4px;
border-bottom: 4px solid #f28482;

}

.project-item{
    text-align: center;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.project-item li{
     text-decoration: none;
     list-style: none;
     padding: 4px 8px ; 
     background-color: #F28482;
     color:#ffff;
     margin:0  2px;
     font-size: 11px;
     
}
.iframe-container{
    height: 300px;
}
iframe{
    width: 100%;
    height: 100%;
}
.btn{  
    background-color: #F28482;
    border-color: #F28482;
    margin-right: 20px;
 }
 .btn:hover{
     background-color: #ffffff;
     color: #F28482;
     border-color: #F28482;
 }
.code-btn{
    background: transparent;
    color: #F28482;
}
.code-btn:hover {
    background-color: #F28482;
    border-color: #F28482;
    color: #ffffff;

}
.btn:focus{
    outline: none !important;
}


.form-control{
 border: 1px solid #F28482 !important;   
}
.form-control:focus{
 border: 1px solid #F28482 !important;   
}

footer{
    padding: 3rem;
    background-color: #000000;

}
 .footer p,
 .footer a{
     text-align: center;
     font-size : 18px;
     text-transform:uppercase;
     text-decoration: none;
     color: #ffffff;
 }



 /* Loader Animation */


.animated-bg {
    background: linear-gradient(
        to right,
        #f6f7f8 0%,
        #edeef1 10%,
        #f6f7f8 20%,
        #f6f7f8 100%
    );
    background-size: 200%, 100%;
    animation: Pos 1s infinite;
}

.animated-bg-text {
    border-radius: 50px;
    display: inline-block;
    margin:0;
    min-height: 12px;
    width: 100%;
}


@keyframes Pos {
    0% {
      background-position: 50% 0;
    }
  
    100% {
      background-position: -150% 0;
    }
  }
